<ion-header>
  <ion-toolbar>
    <ion-title>money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card (click)="showDetail()">
    <table>
      <tr>
        <td>
          <img src="../../../assets/image/lightonline.png" style="width:50% ; higth:50%;">
        </td>
        <td>
          <ion-card-header>
            <ion-card-title>開始抽籤</ion-card-title>
          </ion-card-header>
        </td>
        <td>  </td>
      </tr>
    </table>


  </ion-card>









</ion-content>