<ion-header>
  <ion-toolbar>
    <ion-title>draws</ion-title>
     <ion-button (click)="goBack()">Back</ion-button>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="dtype" placeholder="請選擇籤種" >
        <ion-select-option value="mz">媽祖靈籤</ion-select-option>
        <ion-select-option value="gl">月老靈籤</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="draws()">抽籤</ion-button>
  
<ion-item>抽籤解果為 第 {{ans}} 號籤，請擲筊</ion-item>
<ion-button (click)="draw2()">擲筊</ion-button>

<ion-item>擲筊結果為   {{drawans}}</ion-item>



</ion-content>
