.photo{
    width: 30%;
    height: 30%;
}

.card{
    width: 600px;
    text-align: center;
    width:85%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin:  auto;
}

.content{

}