<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card *ngFor="let ne of a" (click)="showDetail(ne)">
    <ion-card-header>
      <ion-card-subtitle>{{today | date}}</ion-card-subtitle>
      <ion-card-title>{{ne.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>





<!--
    <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Radio</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Checkbox</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
-->